@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import "tailwindcss";


* {
  font-family: 'Averia Serif Libre', cursive;
}

body {
  background-color: #1A1A1A;
}
.checked-radio input[type="radio"]:checked + label {
  background-color: red;
  border-color: red;
}
